.example-container {
    width: 100%;
    height: 100vh;
    // background-color: grey;
    // margin: 10px;
    border: 0px solid #555;
  }
  
  mat-sidenav{
    border-right: 1px solid rgb(192, 192, 192);
  }

.side-nav{
    width:350px;
    background-color: rgb(236, 243, 248);
    // text-align: center;
}

.sidenav-div{
    height: 20px;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    color: #818181;
    font-size: 18px;
}

.side-nav a {
  margin: 5px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: flex;
  transition: 0.3s;
}

.side-nav a span {
  font-size: 18px;
  margin-right: 5px;
}

.active{
  color: rgb(6, 119, 224) !important;
}