<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="side-nav">
        <div class="sidenav-div">YourCompany</div>
        <a class="active" href="#"><span class="material-icons-outlined">
                home
            </span>Dashboard</a>
        <a href="#"><span class="material-icons-outlined">
                description
                </span>Employees</a>
        <a href="#"><span class="material-icons-outlined">
                shopping_cart
                </span>Projects</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>