.inputField{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc
}

.custom-button{
    padding: 7px;
    min-width: 30px;
    border: 1px solid #cccccc;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgb(6, 119, 224)
  }

select{
    width: 96% !important;
}