<div class="main-content">
  <div class="head">
    <h1>Dashboard</h1>
    <div class="dropdown-section">
      <div style="margin: 5px">
        <label>Project</label>
        <br>
        <select class="dropdown" #project (change)='projectFilter(project.value)'>
          <option value="all">All</option>
          <option *ngFor="let item of projectId" [value]="item">Project {{item}}</option>
        </select>
      </div>
      <div style="margin: 5px">
        <label>Employee</label>
        <br>
        <select class="dropdown" #employee (change)='employeeFilter(employee.value)'>
          <option value="all">All</option>
          <option *ngFor="let item of employeeId" [value]="item">Employee {{item}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h1>Project Status</h1>
    <div class="status-section">
      <div class="status-value">
        <p><span *ngIf="filteredProj === 'all'">All Project</span> <span *ngIf="filteredProj !== 'all'">Project
            {{filteredProj}}</span> time log : {{timelog}}hr</p>
        <hr>
        <p><span *ngIf="filteredProj === 'all'">All Project</span> <span *ngIf="filteredProj !== 'all'">Project
            {{filteredProj}}</span> estimated time : {{estimateTimeLog}}hr</p>
        <hr>
        <p><span *ngIf="filteredEmploye === 'all'">All Employee</span> <span *ngIf="filteredEmploye !== 'all'">Employee
            {{filteredEmploye}}</span> time log : {{employeeTimeLog}}hr</p>
      </div>
    </div>
  </div>
  
  <hr>
  <table>
    <tr>
      <th>#</th>
      <th>Project</th>
      <th>Employee</th>
      <th>Date</th>
      <th>Logged Time</th>
    </tr>
    <tr *ngFor="let item of AllEmployeeLog; let i = index">
      <td>{{i+1}}</td>
      <td>Project {{item.project}}</td>
      <td>Employee {{item.employee}}</td>
      <td>{{item.date}}</td>
      <td>{{item.timelog}} hr</td>
    </tr>
  </table>
</div>
<div class="main-content">
  <button class="custom-button">Previous</button>
  <button class="custom-button custom-color">1</button>
  <button class="custom-button custom-color active">2</button>
  <button class="custom-button custom-color">3</button>
  <button class="custom-button custom-color">Next</button>
</div>