<div class="header-section">
  <div class="flex">
    <div class="search-container">
      <form>
        <input type="text" placeholder="   Search" name="search">
      </form>
    </div>
    <div class="log-button">
    <button type="">Log Time</button>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="head">
  <h1>Dashboard</h1>
  <div class="dropdown-section">
    <div style="margin: 5px">
      <label>Project</label>
      <br>
      <select class="dropdown">
          <option value="volvo">All</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div style="margin: 5px">
          <label>Employee</label>
          <br>
          <select class="dropdown">
              <option value="volvo">All</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
          </div>
  </div>
  </div>
  <hr>
  <div>
      <h1>Project Status</h1>
      <div class="status-section">
        <div class="status-value">
          <p>All Project time log : 15hr</p>
          <hr>
          <p>All Project estimated time log : 250hr</p>
          <hr>
          <p>All Employee time log : 200hr</p>
        </div>
      </div>
  </div>
  <hr>
  <table>
      <tr>
        <th>#</th>
        <th>Project</th>
        <th>Employee</th>
        <th>Date</th>
        <th>Logged Time</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Project 1</td>
        <td>Employee 3</td>
        <td>15/08/2020</td>
        <td>2 hr</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Project 1</td>
          <td>Employee 3</td>
          <td>15/08/2020</td>
          <td>2 hr</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Project 1</td>
          <td>Employee 3</td>
          <td>15/08/2020</td>
          <td>2 hr</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Project 1</td>
          <td>Employee 3</td>
          <td>15/08/2020</td>
          <td>2 hr</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Project 1</td>
          <td>Employee 3</td>
          <td>15/08/2020</td>
          <td>2 hr</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Project 1</td>
          <td>Employee 3</td>
          <td>15/08/2020</td>
          <td>2 hr</td>
      </tr>
    </table>
</div>
<div class="main-content">
<button class="custom-button">Previous</button>
<button class="custom-button custom-color">1</button>
<button class="custom-button custom-color active">2</button>
<button class="custom-button custom-color">3</button>
<button class="custom-button custom-color">Next</button>
</div>